<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>

    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>


</head>
<body>
<br>
    <center>
    <form th:action="@{/login}" method="post">
                    <input type="text" placeholder="Nombre de usuario" name="username"/>
                    <input type="password" placeholder="Contrasena" name="password"/>
                <button type="submit">  Ingresar </button>
    </form>
    <br>
    <div role="alert" th:if="${param.error}">
                Usuario o contrasena no valida.
            </div>
            <div th:if="${param.logout}" role="alert">
                Haz cerrado sesion.
            </div>
    </center>
</body>
</html>